h1{
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}



.Button{
background-color: green;
color: white;
padding: 15px 30px;
border: none;
border-radius: 50px;
text-align: center;
font-size: 22px;
margin: 2px;
}
div{
  text-align: center;
}
.Footer{

  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative; /* Or fixed, depending on desired behavior */
  bottom: 0;
  width: 100%;

}
